nifi-assembly/target/extension-manifests/nifi-box-nar-nar/META-INF/docs/extension-manifest.xml
<extensionManifest><groupId>org.apache.nifi</groupId><artifactId>nifi-box-nar</artifactId><version>2.4.0</version><parentNar><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></parentNar><systemApiVersion>2.1.0</systemApiVersion><buildInfo><tag>HEAD</tag><branch>UNKNOWN</branch><revision>65c7732</revision></buildInfo><extensions><extension><name>org.apache.nifi.processors.box.ConsumeBoxEnterpriseEvents</name><type>PROCESSOR</type><description>Consumes Enterprise Events from Box admin_logs_streaming Stream Type.
The content of the events is sent to the 'success' relationship as a JSON array.
The last known position of the Box stream is stored in the processor state and is used to
resume the stream from the last known position when the processor is restarted.
</description><tags><tag>box</tag><tag>storage</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Event Types</name><displayName>Event Types</displayName><description>A comma separated list of Enterprise Events to consume. If not set, all Events are consumed.See Additional Details for more information.</description><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Start Event Position</name><displayName>Start Event Position</displayName><description>What position to consume the Events from.</description><defaultValue>earliest</defaultValue><allowableValues><allowableValue><displayName>earliest</displayName><value>earliest</value><description>Start consuming events from the earliest available Event.</description></allowableValue><allowableValue><displayName>latest</displayName><value>latest</value><description>Start consuming events from the latest Event.</description></allowableValue><allowableValue><displayName>offset</displayName><value>offset</value><description>Start consuming events from the specified offset.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Start Offset</name><displayName>Start Offset</displayName><description>The offset to start consuming the Events from.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>Start Event Position</propertyName><propertyDisplayName>Start Event Position</propertyDisplayName><dependentValues><dependentValue>offset</dependentValue></dependentValues></dependency></dependencies></property></properties><relationships><relationship><name>success</name><description>Events received successfully will be sent out this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes></writesAttributes><triggerSerially>true</triggerSerially><primaryNodeOnly>true</primaryNodeOnly><stateful><description>The last known position of the Box Event stream is stored in the processor state and is used to
resume the stream from the last known position when the processor is restarted.
</description><scopes><scope>CLUSTER</scope></scopes></stateful><inputRequirement>INPUT_FORBIDDEN</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ConsumeBoxEvents</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.ListBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.ConsumeBoxEvents</name><type>PROCESSOR</type><description>Consumes all events from Box. This processor can be used to capture events such as uploads, modifications, deletions, etc.
The content of the events is sent to the 'success' relationship as a JSON array. Events can be dropped in case of NiFi restart
or if the queue capacity is exceeded. The last known position of the Box stream is stored in the processor state and is used to
resume the stream from the last known position when the processor is restarted.
</description><tags><tag>box</tag><tag>storage</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Queue Capacity</name><displayName>Queue Capacity</displayName><description>The maximum size of the internal queue used to buffer events being transferred from the underlying stream to the processor.
Setting this value higher allows more messages to be buffered in memory during surges of incoming messages, but increases the total
memory used by the processor during these surges.
</description><defaultValue>10000</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>success</name><description>Events received successfully will be sent out this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes></writesAttributes><triggerSerially>true</triggerSerially><primaryNodeOnly>true</primaryNodeOnly><stateful><description>The last known position of the Box stream is stored in the processor state and is used to
resume the stream from the last known position when the processor is restarted.
</description><scopes><scope>CLUSTER</scope></scopes></stateful><inputRequirement>INPUT_FORBIDDEN</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see><see>org.apache.nifi.processors.box.ListBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.CreateBoxFileMetadataInstance</name><type>PROCESSOR</type><description>Creates a metadata instance for a Box file using a specified template with values from the flowFile content. 
The Box API requires newly created templates to be created with the scope set as enterprise so no scope is required. 
The input record should be a flat key-value object where each field name is used as the metadata key.
</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>templates</tag><tag>create</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file for which to create metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The key of the metadata template to use for creation.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Record Reader</name><displayName>Record Reader</displayName><description>The Record Reader to use for parsing the incoming data</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordReaderFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile is routed to this relationship if an error occurs during metadata creation.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile is routed to this relationship after metadata has been successfully created.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>template not found</name><description>FlowFiles for which the specified metadata template was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file for which metadata was created</description></writesAttribute><writesAttribute><name>box.template.key</name><description>The template key used for metadata creation</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFileMetadataTemplates</see><see>org.apache.nifi.processors.box.UpdateBoxFileMetadataInstance</see><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.CreateBoxMetadataTemplate</name><type>PROCESSOR</type><description> Creates a Box metadata template using field specifications from the flowFile content. Expects a schema with fields: 
 "'type' (required), 'key' (required), 'displayName' (optional), 'description' (optional), 'hidden' (optional, boolean).
</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>templates</tag><tag>create</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Name</name><displayName>Template Name</displayName><description>The display name of the metadata template to create.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The key of the metadata template to create (used for API calls).</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Hidden</name><displayName>Hidden</displayName><description>Whether the template should be hidden in the Box UI.</description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Record Reader</name><displayName>Record Reader</displayName><description>The Record Reader to use for parsing the incoming data</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordReaderFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile is routed to this relationship if an error occurs during template creation.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile is routed to this relationship after a template has been successfully created.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.template.name</name><description>The template name that was created</description></writesAttribute><writesAttribute><name>box.template.key</name><description>The template key that was created</description></writesAttribute><writesAttribute><name>box.template.scope</name><description>The template scope.</description></writesAttribute><writesAttribute><name>box.template.fields.count</name><description>Number of fields created for the template</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFileMetadataTemplates</see><see>org.apache.nifi.processors.box.UpdateBoxFileMetadataInstance</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.DeleteBoxFileMetadataInstance</name><type>PROCESSOR</type><description>Deletes a metadata instance from a Box file using the specified template key</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>templates</tag><tag>delete</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file from which to delete metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The key of the metadata template instance to delete.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile is routed to this relationship if an error occurs during metadata deletion.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile is routed to this relationship after metadata has been successfully deleted.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>template not found</name><description>FlowFiles for which the specified metadata template was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file from which metadata was deleted</description></writesAttribute><writesAttribute><name>box.template.key</name><description>The template key used for metadata deletion</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.CreateBoxFileMetadataInstance</see><see>org.apache.nifi.processors.box.FetchBoxFileMetadataInstance</see><see>org.apache.nifi.processors.box.UpdateBoxFileMetadataInstance</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.ExtractStructuredBoxFileMetadata</name><type>PROCESSOR</type><description>Extracts metadata from a Box file using Box AI. The extraction can use either a template or a list of fields. The extracted metadata is written to the FlowFile content as JSON.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>ai</tag><tag>extract</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file from which to extract metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Extraction Method</name><displayName>Extraction Method</displayName><description>The method to use for extracting metadata. TEMPLATE uses a Box metadata template for extraction. FIELDS uses a JSON schema of fields (read from FlowFile content) for extraction.</description><defaultValue>TEMPLATE</defaultValue><allowableValues><allowableValue><displayName>Template</displayName><value>TEMPLATE</value><description>Uses a Box metadata template for extraction.</description></allowableValue><allowableValue><displayName>Fields</displayName><value>FIELDS</value><description>Uses a JSON schema of fields to extract from the FlowFile content. The schema should include 'key' (required); 'type', 'description', 'displayName', 'prompt', and 'options' fields are optional. This follows the BOX API schema for fields.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The key of the metadata template to use for extraction. Required when Extraction Method is TEMPLATE.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>Extraction Method</propertyName><propertyDisplayName>Extraction Method</propertyDisplayName><dependentValues><dependentValue>TEMPLATE</dependentValue></dependentValues></dependency></dependencies></property><property><name>Record Reader</name><displayName>Record Reader</displayName><description>The Record Reader to use for parsing the incoming data. Required when Extraction Method is FIELDS.</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordReaderFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>Extraction Method</propertyName><propertyDisplayName>Extraction Method</propertyDisplayName><dependentValues><dependentValue>FIELDS</dependentValue></dependentValues></dependency></dependencies></property></properties><relationships><relationship><name>failure</name><description>A FlowFile is routed to this relationship if an error occurs during metadata extraction.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile is routed to this relationship after metadata has been successfully extracted.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>template not found</name><description>FlowFiles for which the specified metadata template was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file from which metadata was extracted</description></writesAttribute><writesAttribute><name>box.ai.template.key</name><description>The template key used for extraction (when using TEMPLATE extraction method)</description></writesAttribute><writesAttribute><name>box.ai.extraction.method</name><description>The extraction method used (TEMPLATE or FIELDS)</description></writesAttribute><writesAttribute><name>box.ai.completion.reason</name><description>The completion reason from the AI extraction</description></writesAttribute><writesAttribute><name>mime.type</name><description>Set to 'application/json' for the JSON content</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFileMetadataTemplates</see><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.UpdateBoxFileMetadataInstance</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.FetchBoxFile</name><type>PROCESSOR</type><description>Fetches files from a Box Folder. Designed to be used in tandem with ListBoxFile.</description><tags><tag>box</tag><tag>storage</tag><tag>fetch</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-file-id</name><displayName>File ID</displayName><description>The ID of the File to fetch</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here for each File for which fetch was attempted but failed.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile will be routed here for each successfully fetched File.</description><autoTerminated>false</autoTerminated></relationship></relationships><readsAttributes><readsAttribute><name>box.id</name><description>The id of the file</description></readsAttribute></readsAttributes><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.FetchBoxFileInfo</name><type>PROCESSOR</type><description>Fetches metadata for files from Box and adds it to the FlowFile's attributes.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>fetch</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the File to fetch metadata for</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here if fetching the file metadata fails.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not.found</name><description>FlowFiles for which the specified Box file was not found.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile will be routed here after successfully fetching the file metadata.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.path.folder.ids</name><description>A comma separated list of file path_collection IDs</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute><writesAttribute><name>box.created.at</name><description>The creation date of the file</description></writesAttribute><writesAttribute><name>box.owner</name><description>The name of the file owner</description></writesAttribute><writesAttribute><name>box.owner.id</name><description>The ID of the file owner</description></writesAttribute><writesAttribute><name>box.owner.login</name><description>The login of the file owner</description></writesAttribute><writesAttribute><name>box.description</name><description>The description of the file</description></writesAttribute><writesAttribute><name>box.etag</name><description>The etag of the file</description></writesAttribute><writesAttribute><name>box.sha1</name><description>The SHA-1 hash of the file</description></writesAttribute><writesAttribute><name>box.content.created.at</name><description>The date the content was created</description></writesAttribute><writesAttribute><name>box.content.modified.at</name><description>The date the content was modified</description></writesAttribute><writesAttribute><name>box.item.status</name><description>The status of the file (active, trashed, etc.)</description></writesAttribute><writesAttribute><name>box.sequence_id</name><description>The sequence ID of the file</description></writesAttribute><writesAttribute><name>box.parent.folder.id</name><description>The ID of the parent folder</description></writesAttribute><writesAttribute><name>box.trashed.at</name><description>The date the file was trashed, if applicable</description></writesAttribute><writesAttribute><name>box.purged.at</name><description>The date the file was purged, if applicable</description></writesAttribute><writesAttribute><name>box.shared.link</name><description>The shared link of the file, if any</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.FetchBoxFileMetadataInstance</name><type>PROCESSOR</type><description>Retrieves specific metadata instance associated with a Box file using template key and scope.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>instance</tag><tag>template</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file for which to fetch metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The metadata template key to retrieve.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Scope</name><displayName>Template Scope</displayName><description>The metadata template scope (e.g., 'enterprise', 'global').</description><defaultValue>enterprise</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here if there is an error fetching metadata instance from the file.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile containing the metadata instance will be routed to this relationship upon successful processing.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>template not found</name><description>FlowFiles for which the specified metadata template was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file from which metadata was fetched</description></writesAttribute><writesAttribute><name>box.metadata.template.key</name><description>The metadata template key</description></writesAttribute><writesAttribute><name>box.metadata.template.scope</name><description>The metadata template scope</description></writesAttribute><writesAttribute><name>mime.type</name><description>The MIME Type of the FlowFile content</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFileMetadataInstances</see><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFileInfo</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.FetchBoxFileRepresentation</name><type>PROCESSOR</type><description>Fetches a Box file representation using a representation hint and writes it to the FlowFile content.</description><tags><tag>box</tag><tag>cloud</tag><tag>storage</tag><tag>file</tag><tag>representation</tag><tag>content</tag><tag>download</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the Box file to retrieve.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Representation Type</name><displayName>Representation Type</displayName><description>The type of representation to fetch. Common values include 'pdf', 'text', 'jpg', 'png', etc.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>FlowFiles that encounter errors during processing will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file.not.found</name><description>FlowFiles for which the specified Box file was not found.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>representation.not.found</name><description>FlowFiles for which the specified Box file's requested representation was not found.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>FlowFiles that are successfully processed will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the Box file.</description></writesAttribute><writesAttribute><name>box.file.name</name><description>The name of the Box file.</description></writesAttribute><writesAttribute><name>box.file.size</name><description>The size of the Box file in bytes.</description></writesAttribute><writesAttribute><name>box.file.created.time</name><description>The timestamp when the file was created.</description></writesAttribute><writesAttribute><name>box.file.modified.time</name><description>The timestamp when the file was last modified.</description></writesAttribute><writesAttribute><name>box.file.mime.type</name><description>The MIME type of the file.</description></writesAttribute><writesAttribute><name>box.file.representation.type</name><description>The representation type that was fetched.</description></writesAttribute><writesAttribute><name>box.error.message</name><description>The error message returned by Box if the operation fails.</description></writesAttribute><writesAttribute><name>box.error.code</name><description>The error code returned by Box if the operation fails.</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.ListBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.GetBoxFileCollaborators</name><type>PROCESSOR</type><description>Retrieves all collaborators on a Box file and adds the collaboration information to the FlowFile's attributes.</description><tags><tag>box</tag><tag>storage</tag><tag>collaboration</tag><tag>permissions</tag><tag>sharing</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the Box file to retrieve collaborators for</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Roles</name><displayName>Roles</displayName><description>A comma-separated list of collaboration roles to retrieve. Available roles: editor, viewer, previewer, uploader, previewer uploader, viewer uploader, co-owner, owner. If not specified, no filtering by role will be applied.</description><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Statuses</name><displayName>Statuses</displayName><description>A comma-separated list of collaboration statuses to retrieve. Available statuses: accepted, pending, rejected. If not specified, no filtering by status will be applied.</description><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>FlowFiles that encounter errors during processing will be routed to this relationship</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not.found</name><description>FlowFiles for which the specified Box file was not found</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>FlowFiles that have been successfully processed will be routed to this relationship</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.users.ids</name><description>Comma-separated list of user collaborator IDs by status</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.groups.ids</name><description>Comma-separated list of group collaborator IDs by status</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.users.emails</name><description>Comma-separated list of user collaborator emails by status</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.groups.emails</name><description>Comma-separated list of group collaborator emails by status</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.&lt;role&gt;.users.ids</name><description>Comma-separated list of user collaborator IDs by status and role. Only present when both Roles and Statuses properties are set.</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.&lt;role&gt;.users.logins</name><description>Comma-separated list of user collaborator logins by status and role. Only present when both Roles and Statuses properties are set.</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.&lt;role&gt;.groups.ids</name><description>Comma-separated list of group collaborator IDs by status and role. Only present when both Roles and Statuses properties are set.</description></writesAttribute><writesAttribute><name>box.collaborations.&lt;status&gt;.&lt;role&gt;.groups.emails</name><description>Comma-separated list of group collaborator emails by status and role. Only present when both Roles and Statuses properties are set.</description></writesAttribute><writesAttribute><name>box.collaborations.count</name><description>Total number of collaborations on the file</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.ListBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.GetBoxGroupMembers</name><type>PROCESSOR</type><description>Retrieves members for a Box Group and writes their details in FlowFile attributes.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Group ID</name><displayName>Group ID</displayName><description>The ID of the Group to retrieve members for</description><defaultValue>${box.group.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>The FlowFile will be routed here when Group memberships retrieval was attempted but failed.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not.found</name><description>The FlowFile will be routed here when the Group was not found.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>The FlowFile will be routed here after successfully retrieving Group members.</description><autoTerminated>false</autoTerminated></relationship></relationships><readsAttributes><readsAttribute><name>box.group.id</name><description>The ID of the Group to retrieve members for.</description></readsAttribute></readsAttributes><writesAttributes><writesAttribute><name>box.group.user.ids</name><description>A comma-separated list of user IDs in the group.</description></writesAttribute><writesAttribute><name>box.group.user.logins</name><description>A comma-separated list of user Logins (emails) in the group.</description></writesAttribute><writesAttribute><name>error.code</name><description>An http error code returned by Box.</description></writesAttribute><writesAttribute><name>error.message</name><description>An error message returned by Box.</description></writesAttribute></writesAttributes><sideEffectFree>true</sideEffectFree><inputRequirement>INPUT_REQUIRED</inputRequirement></extension><extension><name>org.apache.nifi.processors.box.ListBoxFile</name><type>PROCESSOR</type><description>Lists files in a Box folder. Each listed file may result in one FlowFile, the metadata being written as FlowFile attributes. Or - in case the 'Record Writer' property is set - the entire result is written as records to a single FlowFile. This Processor is designed to run on Primary Node only in a cluster. If the primary node changes, the new Primary Node will pick up where the previous node left off without duplicating all of the data.</description><tags><tag>box</tag><tag>storage</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-folder-id</name><displayName>Folder ID</displayName><description>The ID of the folder from which to pull list of files.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>ENVIRONMENT</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>recursive-search</name><displayName>Search Recursively</displayName><description>When 'true', will include list of files from sub-folders. Otherwise, will return only files that are within the folder defined by the 'Folder ID' property.</description><defaultValue>true</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>min-age</name><displayName>Minimum File Age</displayName><description>The minimum age a file must be in order to be considered; any files younger than this will be ignored.</description><defaultValue>0 sec</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>listing-strategy</name><displayName>Listing Strategy</displayName><description>Specify how to determine new/updated entities. See each strategy descriptions for detail.</description><defaultValue>timestamps</defaultValue><allowableValues><allowableValue><displayName>Tracking Timestamps</displayName><value>timestamps</value><description>This strategy tracks the latest timestamp of listed entity to determine new/updated entities. Since it only tracks few timestamps, it can manage listing state efficiently. However, any newly added, or updated entity having timestamp older than the tracked latest timestamp can not be picked by this strategy. For example, such situation can happen in a file system if a file with old timestamp is copied or moved into the target directory without its last modified timestamp being updated. Also may miss files when multiple subdirectories are being written at the same time while listing is running.</description></allowableValue><allowableValue><displayName>Tracking Entities</displayName><value>entities</value><description>This strategy tracks information of all the listed entities within the latest 'Entity Tracking Time Window' to determine new/updated entities. This strategy can pick entities having old timestamp that can be missed with 'Tracking Timestamps'. Works even when multiple subdirectories are being written at the same time while listing is running. However additional DistributedMapCache controller service is required and more JVM heap memory is used. See the description of 'Entity Tracking Time Window' property for further details on how it works.</description></allowableValue><allowableValue><displayName>Time Window</displayName><value>time-window</value><description>This strategy uses a sliding time window. The window starts where the previous window ended and ends with the 'current time'. One cycle will list files with modification time falling within the time window. Works even when multiple subdirectories are being written at the same time while listing is running. IMPORTANT: This strategy works properly only if the time on both the system hosting NiFi and the one hosting the files are accurate.</description></allowableValue><allowableValue><displayName>No Tracking</displayName><value>none</value><description>This strategy lists an entity without any tracking. The same entity will be listed each time on executing this processor. It is recommended to change the default run schedule value. Any property that related to the persisting state will be disregarded.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>et-state-cache</name><displayName>Entity Tracking State Cache</displayName><description>Listed entities are stored in the specified cache storage so that this processor can resume listing across NiFi restart or in case of primary node change. 'Tracking Entities' strategy require tracking information of all listed entities within the last 'Tracking Time Window'. To support large number of entities, the strategy uses DistributedMapCache instead of managed state. Cache key format is 'ListedEntities::{processorId}(::{nodeId})'. If it tracks per node listed entities, then the optional '::{nodeId}' part is added to manage state separately. E.g. cluster wide cache key = 'ListedEntities::8dda2321-0164-1000-50fa-3042fe7d6a7b', per node cache key = 'ListedEntities::8dda2321-0164-1000-50fa-3042fe7d6a7b::nifi-node3' The stored cache content is Gzipped JSON string. The cache key will be deleted when target listing configuration is changed. Used by 'Tracking Entities' strategy.</description><controllerServiceDefinition><className>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>et-time-window</name><displayName>Entity Tracking Time Window</displayName><description>Specify how long this processor should track already-listed entities. 'Tracking Entities' strategy can pick any entity whose timestamp is inside the specified time window. For example, if set to '30 minutes', any entity having timestamp in recent 30 minutes will be the listing target when this processor runs. A listed entity is considered 'new/updated' and a FlowFile is emitted if one of following condition meets: 1. does not exist in the already-listed entities, 2. has newer timestamp than the cached entity, 3. has different size than the cached entity. If a cached entity's timestamp becomes older than specified time window, that entity will be removed from the cached already-listed entities. Used by 'Tracking Entities' strategy.</description><defaultValue>3 hours</defaultValue><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>ENVIRONMENT</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>et-initial-listing-target</name><displayName>Entity Tracking Initial Listing Target</displayName><description>Specify how initial listing should be handled. Used by 'Tracking Entities' strategy.</description><defaultValue>all</defaultValue><allowableValues><allowableValue><displayName>Tracking Time Window</displayName><value>window</value><description>Ignore entities having timestamp older than the specified 'Tracking Time Window' at the initial listing activity.</description></allowableValue><allowableValue><displayName>All Available</displayName><value>all</value><description>Regardless of entities timestamp, all existing entities will be listed at the initial listing activity.</description></allowableValue></allowableValues><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>listing-strategy</propertyName><propertyDisplayName>Listing Strategy</propertyDisplayName><dependentValues><dependentValue>entities</dependentValue></dependentValues></dependency></dependencies></property><property><name>record-writer</name><displayName>Record Writer</displayName><description>Specifies the Record Writer to use for creating the listing. If not specified, one FlowFile will be created for each entity that is listed. If the Record Writer is specified, all entities will be written to a single FlowFile instead of adding attributes to individual FlowFiles.</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordSetWriterFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>success</name><description>All FlowFiles that are received are routed to success</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute></writesAttributes><triggerSerially>true</triggerSerially><primaryNodeOnly>true</primaryNodeOnly><stateful><description>The processor stores necessary data to be able to keep track what files have been listed already. What exactly needs to be stored depends on the 'Listing Strategy'.</description><scopes><scope>CLUSTER</scope></scopes></stateful><inputRequirement>INPUT_FORBIDDEN</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso><defaultSchedule><strategy>TIMER_DRIVEN</strategy><period>1 min</period><concurrentTasks>1</concurrentTasks></defaultSchedule></extension><extension><name>org.apache.nifi.processors.box.ListBoxFileInfo</name><type>PROCESSOR</type><description>Fetches file metadata for each file in a Box Folder. Takes a flowFile with a folder ID attribute and outputs flowFiles with records containing all file metadata.</description><tags><tag>box</tag><tag>storage</tag><tag>fetch</tag><tag>folder</tag><tag>files</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Folder ID</name><displayName>Folder ID</displayName><description>The ID of the folder from which to fetch files.</description><defaultValue>${box.folder.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Search Recursively</name><displayName>Search Recursively</displayName><description>When 'true', will include files from sub-folders. Otherwise, will return only files that are within the folder defined by the 'Folder ID' property.</description><defaultValue>true</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Minimum File Age</name><displayName>Minimum File Age</displayName><description>The minimum age a file must be in order to be considered; any files younger than this will be ignored.</description><defaultValue>0 sec</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Record Writer</name><displayName>Record Writer</displayName><description>Specifies the Controller Service to use for writing the metadata records. Must be set.</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordSetWriterFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here if there is an error fetching file metadata from the folder.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not.found</name><description>FlowFiles for which the specified Box folder was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile containing the file metadata records will be routed to this relationship upon successful processing.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.folder.id</name><description>The ID of the folder from which files were fetched</description></writesAttribute><writesAttribute><name>record.count</name><description>The number of records in the FlowFile</description></writesAttribute><writesAttribute><name>mime.type</name><description>The MIME Type specified by the Record Writer</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.PutBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.ListBoxFileMetadataInstances</name><type>PROCESSOR</type><description>Retrieves all metadata instances associated with a Box file.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>instances</tag><tag>templates</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file for which to fetch metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here if there is an error fetching metadata instances from the file.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile containing the metadata instances records will be routed to this relationship upon successful processing.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file from which metadata was fetched</description></writesAttribute><writesAttribute><name>record.count</name><description>The number of records in the FlowFile</description></writesAttribute><writesAttribute><name>mime.type</name><description>The MIME Type specified by the Record Writer</description></writesAttribute><writesAttribute><name>box.metadata.instances.names</name><description>Comma-separated list of instances names</description></writesAttribute><writesAttribute><name>box.metadata.instances.count</name><description>Number of metadata instances found</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFileInfo</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.ListBoxFileMetadataTemplates</name><type>PROCESSOR</type><description>Retrieves all metadata templates associated with a Box file.</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>templates</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file for which to fetch metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile will be routed here if there is an error fetching metadata templates from the file.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile containing the metadata template records will be routed to this relationship upon successful processing.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.file.id</name><description>The ID of the file from which metadata was fetched</description></writesAttribute><writesAttribute><name>record.count</name><description>The number of records in the FlowFile</description></writesAttribute><writesAttribute><name>mime.type</name><description>The MIME Type specified by the Record Writer</description></writesAttribute><writesAttribute><name>box.metadata.templates.names</name><description>Comma-separated list of template names</description></writesAttribute><writesAttribute><name>box.metadata.templates.count</name><description>Number of metadata templates found</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFileInfo</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.PutBoxFile</name><type>PROCESSOR</type><description>Puts content to a Box folder.</description><tags><tag>box</tag><tag>storage</tag><tag>put</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>box-folder-id</name><displayName>Folder ID</displayName><description>The ID of the folder where the file is uploaded. Please see Additional Details to obtain Folder ID.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>subfolder-name</name><displayName>Subfolder Name</displayName><description>The name (path) of the subfolder where files are uploaded. The subfolder name is relative to the folder specified by 'Folder ID'. Example: subFolder, subFolder1/subfolder2</description><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>create-folder</name><displayName>Create Subfolder</displayName><description>Specifies whether to check if the subfolder exists and to automatically create it if it does not. Permission to list folders is required. </description><defaultValue>false</defaultValue><allowableValues><allowableValue><displayName>true</displayName><value>true</value><description></description></allowableValue><allowableValue><displayName>false</displayName><value>false</value><description></description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic><dependencies><dependency><propertyName>subfolder-name</propertyName><propertyDisplayName>Subfolder Name</propertyDisplayName></dependency></dependencies></property><property><name>file-name</name><displayName>Filename</displayName><description>The name of the file to upload to the specified Box folder.</description><defaultValue>${filename}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>conflict-resolution-strategy</name><displayName>Conflict Resolution Strategy</displayName><description>Indicates what should happen when a file with the same name already exists in the specified Box folder.</description><defaultValue>fail</defaultValue><allowableValues><allowableValue><displayName>fail</displayName><value>fail</value><description>Handle file conflict as failure.</description></allowableValue><allowableValue><displayName>ignore</displayName><value>ignore</value><description>Ignore conflict, do not change the original file.</description></allowableValue><allowableValue><displayName>replace</displayName><value>replace</value><description>Replace existing file in case of conflict.</description></allowableValue></allowableValues><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>chunked-upload-threshold</name><displayName>Chunked Upload Threshold</displayName><description>The maximum size of the content which is uploaded at once. FlowFiles larger than this threshold are uploaded in chunks. Chunked upload is allowed for files larger than 20 MB. It is recommended to use chunked upload for files exceeding 50 MB.</description><defaultValue>20 MB</defaultValue><required>false</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>Files that could not be written to Box for some reason are transferred to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>Files that have been successfully written to Box are transferred to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><readsAttributes><readsAttribute><name>filename</name><description>Uses the FlowFile's filename as the filename for the Box object.</description></readsAttribute></readsAttributes><writesAttributes><writesAttribute><name>box.id</name><description>The id of the file</description></writesAttribute><writesAttribute><name>filename</name><description>The name of the file</description></writesAttribute><writesAttribute><name>path</name><description>The folder path where the file is located</description></writesAttribute><writesAttribute><name>box.size</name><description>The size of the file</description></writesAttribute><writesAttribute><name>box.timestamp</name><description>The last modified time of the file</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see></seeAlso></extension><extension><name>org.apache.nifi.processors.box.UpdateBoxFileMetadataInstance</name><type>PROCESSOR</type><description> Updates metadata template values for a Box file using the record in the given flowFile. 
 This record represents the desired end state of the template after the update. 
 The processor will calculate the necessary changes (add/replace/remove) to transform
 the current metadata to the desired state. The input record should be a flat key-value object.
</description><tags><tag>box</tag><tag>storage</tag><tag>metadata</tag><tag>templates</tag><tag>update</tag></tags><properties><property><name>box-client-service</name><displayName>Box Client Service</displayName><description>Controller Service used to obtain a Box API connection.</description><controllerServiceDefinition><className>org.apache.nifi.box.controllerservices.BoxClientService</className><groupId>org.apache.nifi</groupId><artifactId>nifi-box-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>File ID</name><displayName>File ID</displayName><description>The ID of the file for which to update metadata.</description><defaultValue>${box.id}</defaultValue><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Template Key</name><displayName>Template Key</displayName><description>The key of the metadata template to update.</description><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>true</expressionLanguageSupported><expressionLanguageScope>FLOWFILE_ATTRIBUTES</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property><property><name>Record Reader</name><displayName>Record Reader</displayName><description>The Record Reader to use for parsing the incoming data</description><controllerServiceDefinition><className>org.apache.nifi.serialization.RecordReaderFactory</className><groupId>org.apache.nifi</groupId><artifactId>nifi-standard-services-api-nar</artifactId><version>2.4.0</version></controllerServiceDefinition><required>true</required><sensitive>false</sensitive><expressionLanguageSupported>false</expressionLanguageSupported><expressionLanguageScope>NONE</expressionLanguageScope><dynamicallyModifiesClasspath>false</dynamicallyModifiesClasspath><dynamic>false</dynamic></property></properties><relationships><relationship><name>failure</name><description>A FlowFile is routed to this relationship if an error occurs during metadata update.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>file not found</name><description>FlowFiles for which the specified Box file was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>success</name><description>A FlowFile is routed to this relationship after metadata has been successfully updated.</description><autoTerminated>false</autoTerminated></relationship><relationship><name>template not found</name><description>FlowFiles for which the specified metadata template was not found will be routed to this relationship.</description><autoTerminated>false</autoTerminated></relationship></relationships><writesAttributes><writesAttribute><name>box.id</name><description>The ID of the file whose metadata was updated</description></writesAttribute><writesAttribute><name>box.template.name</name><description>The template name used for metadata update</description></writesAttribute><writesAttribute><name>box.template.scope</name><description>The template scope used for metadata update</description></writesAttribute><writesAttribute><name>error.code</name><description>The error code returned by Box</description></writesAttribute><writesAttribute><name>error.message</name><description>The error message returned by Box</description></writesAttribute></writesAttributes><inputRequirement>INPUT_REQUIRED</inputRequirement><seeAlso><see>org.apache.nifi.processors.box.ListBoxFileMetadataTemplates</see><see>org.apache.nifi.processors.box.ListBoxFile</see><see>org.apache.nifi.processors.box.FetchBoxFile</see></seeAlso></extension></extensions></extensionManifest>